#search-button {
  display: flexbox;
  position: static;
  padding: 1%;
  border: 1px solid #ccc;
  padding-bottom: 10px;
}

#search-button:hover {
  border-color: #fb9f89;
}

/* Stilmall för fokus-effekt */
#search-button:focus {
  border-color: #1e1e24;
  box-shadow: 0 0 5px #fb9f89;
}

header {
  background-color: #c4af9a;
  padding-left: 40%;
  padding-bottom: 1%;
  padding-top: 1%;
  display: flex;
}

li {
  margin-left: -15%;
  margin-top: 22px;
}

h1{
  margin-left: 1%;
}

img{
  float: top;
  width: fit-content;
  height: 400px;
  object-fit: cover;
  
}
