@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  background-color: #8da9c4;
  font-family: "Lora", serif;
}

#search-button {
  display: flexbox;
  position: static;
  border: 1px solid #ccc;
  padding-bottom: 10px;
}

#search-button:hover {
  border-color: #fb9f89;
}

/* Stilmall för fokus-effekt */
#search-button:focus {
  border-color: #1e1e24;
  box-shadow: 0 0 5px #fb9f89;
}

header {
  background-color: #0b2545;
  color: #eef4ed;
  padding-left: 40%;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 60%;
  display: flex;
  border-style: double;
  border-radius: 10px;
}

li {
  margin-left: -15%;
  margin-top: 22px;
}

h1 {
  margin-left: 1%;
}

img {
  float: top;
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.result {
  background-color: #134074;
  color: #eef4ed;
  padding-bottom: 5px;
  padding-left: 5px;
}

#textField {
  display: none;
}
